<div class="home">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  {{ range.valid }}

  <mat-date-range-picker #picker></mat-date-range-picker>
  <app-line-chart [series]="tempData$ | async"></app-line-chart>
  <app-line-chart [series]="pressureData$ | async"></app-line-chart>
</div>
<ng-container *ngIf="currentPeriod$ | async"></ng-container>
